<section class= "container mt-5">
  <h1 class="text-center"><img src="/assets/logo.png" width="300" alt=""></h1>
  <h2 class="text-center"><img *ngFor="let pokeball of listDePokemons" width="40" src="/assets/pok.png" [title]="pokeball.name" ></h2>
  <h5 class="text-center text-muted police">Vous disposez de <strong class="text-primary">{{listDePokemons.length}}</strong> pokemons</h5>
  <div class="col-md-6 mx-auto m-4">
    <input #searchBox (keyup)="filterPokemon(searchBox.value)" type="search" class="form-control search" placeholder="Rechercher un Pokemon...">
  </div>
  <div class="row mx-auto">
    <div *ngFor="let pokemon of listDePokemons" class="col-md-2 mx-auto text-center box" [routerLink]="['/detail',pokemon.id]">
      <img width="100" [src]="pokemon.picture" alt="">
    </div>
  </div>
</section>
